@import url(http://weloveiconfonts.com/api/?family=entypo);

.post-img {
  height: 20rem;
  width: 100%;
}

.icons {
  display: flex;
  justify-content: space-between;
}

.left-icons {
  display: flex;
}

.post-icon {
  margin: 1rem;
}

.post-input {
  width: 100%;
}

